<div id="<%= dom_id product %>">
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= product.link %>
  </p>

  <p>
    <strong>Board:</strong>
    <%= product.board %>
  </p>

  <p>
    <strong>Tagged topic:</strong>
    <%= product.tagged_topic %>
  </p>

  <p>
    <strong>Image link:</strong>
    <%= product.image_link %>
  </p>

</div>
