<div class="container-sm text-light mt-5">
  <h1 class="text-light mb-3">Editing <%= @product.name %>...</h1>

  <%= simple_form_for @product do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :link %>
    <%= f.input :board %>
    <%= f.input :tagged_topic %>
    <%= f.input :image_link %>
    <div class="d-flex gap-3">
    <%= f.button :submit, class: "btn btn-primary" %>
    <%= link_to "Back to products", products_path, class: "btn btn-secondary" %>
    </div>
  <% end %>
</div>
