<div class="container-lg d-flex flex-column gap-3 mt-5">
  <div class="d-flex justify-content-between">
    <h3 class="text-light">Amazon Products</h3>
    <div class="d-flex justify-content-center align-center">
      <%= link_to "New product", new_product_path, class: "btn btn-primary" %>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Number</th>
        <th scope="col">Name</th>
        <th scope="col">Board</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each_with_index do |product, index| %>
        <tr>
          <th scope="row"><%= index + 1 %></th>
          <td><%= product.name %></td>
          <td><%= product.board %></td>
          <td>
            <%= link_to "Show more", product_path(product), class: "btn btn-info" %>
            <%= link_to "Delete", product_path(product), data: { turbo_method: :delete }, class: "btn btn-danger" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
