<div class="container-lg card mt-5">
  <div class="card-header">
    <h3><%= @product.name %></h3>
  </div>
  <div class="card-body">
    <h5>Description:</h5> <p class="card-text"><%= @product.description %></p>
    <h5>Link:</h5> <p class="card-text"><%= @product.link %></p>
    <h5>Board:</h5> <p class="card-text"><%= @product.board %></p>
    <h5>Tagged Topics:</h5> <p class="card-text"><%= @product.tagged_topic %></p>
    <h5>Image Link:</h5> <p class="card-text"><%= @product.image_link %></p>
    <h5>Uploaded:</h5>
    <p class="card-text">
      <% if @product.uploaded %>
        Uploaded Successfully. ✅
      <% else %>
        This product has not been uploaded yet. 🟥
      <% end %>
    </p>

  </div>

  <div class="mb-3">
    <%= link_to "Edit this product", edit_product_path(@product), class: "btn btn-info" %>
    <%= link_to "Back to products", products_path, class: "btn btn-secondary" %>
    <%= link_to "Delete", product_path(@product), data: { turbo_method: :delete }, class: "btn btn-danger" %>
  </div>
</div>
